.input_wrap {
    max-width: 300px;
    width: auto;
    height: auto;
    position: relative;
}

.input_wrap .defInput {


    height: 37px;
    width: 100%;

    color: #000000;
    font-size: 14px;
    padding-right: 10px;
    box-shadow: none;
}
.input_wrap textarea.defInput {

padding: 5px;
    height: 100px;

}


.input_wrap .defInput {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input_wrap label {
    /*font-size: 13px;*/
    /*color: #afbdcf;*/
    /*padding: 8px;*/
    position: absolute;
    /*top: 0;*/
    /*right: 0;*/
    transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
    pointer-events: none;



    font-size: 13px;
    color: #494949;
    top: -8px;
    right: 10px;
    background: #ffffff;
    padding: 0 2px;

}

.input_wrap .defInput:focus + label, .input_wrap .defInput + label.active, .input_wrap .defInput:-webkit-autofill + label {
    /*font-size: 13px;*/
    /*color: #494949;*/
    /*top: -8px;*/
    /*right: 10px;*/
    /*background: #ffffff;*/
    /*padding: 0 2px;*/
}

.input_wrap .defInput:focus {
    border: 1px solid red!important;
}


.defInput:-webkit-autofill
    /*input:-webkit-autofill:hover,*/
    /*input:-webkit-autofill:focus,*/
    /*input:-webkit-autofill:active*/
{
    -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-select-focused:where(.css-dev-only-do-not-override-ph9edi).ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector{
    border: none;
    padding: 0;
    box-shadow: none;
}


