@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #fff;
    --secondary-color: #000;
    --blue: blue;
    --blue-300: #d0d0fa;
    --gray-300: #f6f6f6;
    --white: #fff;
    --red: #e01111;
    --black: #2a2a2a;
    --black-200: #ececec;


    --shadow: 0 0 5px #afafaf;


    --rounded-sm: 0.125rem; /* 2px */
    --rounded: 0.25rem; /* 4px */
    --rounded-md: 0.375rem; /* 6px */
    --rounded-lg: 0.5rem; /* 8px */
    --rounded-full: 50%;
    --rounded-t-none: 0px;


}


.ellipsis3 {

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* start showing ellipsis when 3rd line is reached */
    /*white-space: pre-wrap;*/
    /*overflow: hidden;*/
}

.ellipsis1 {

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.ellipsis2 {

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}


.tab-panes .tab-pane {
    display: none
}

.tab-panes .tab-pane.active {
    display: block
}


.spinner {
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.loginTabs .dx-tabs-wrapper {
    width: 100%;
    display: flex;
}
.loginTabs .dx-tabs-wrapper > div{
    flex: 1;
}