header {
    background-color: #f7f7f7;
}
header .dx-tabs-wrapper{
height: 100%;
    display: flex;
    align-items: center;
}
header .dx-item.dx-tab{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
}
header .dx-tab.dx-state-focused::after{
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 3px solid blue;
}
header .dx-tab-selected::after {

    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 3px solid  blue;

}