.servicesTabs .dx-item.dx-tab{
background-color: var(--gray-300);
    padding:   5px 8px 5px 2px;
}
.servicesTabs .dx-item.dx-tab.dx-tab-selected{
background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: var(--rounded-md);
    z-index: 1 ;
}


.servicesTabs .dx-tab-selected::after {
  display: none;
}
.servicesTabs .dx-tab.dx-state-active{

}
.servicesTabs .dx-tab.dx-state-focused::after {

display: none;


}