.css-8dyhm6 > .ps-menu-button, .css-1ytr39x > .ps-menu-button {

    padding-right: 0px !important;
    padding-left: 5px !important;
}

.ps-sidebar-root li {

    padding-right: 30px !important;
}
.ps-sidebar-root .css-8dyhm6 {

    padding-right: 10px !important;
}


.ps-sidebar-root .css-6a03ny {

    margin-left: 0 !important;
    justify-content: flex-start !important;
    width: 30px !important;
    min-width: 30px !important;
}

